/*Variables*/
$slider-mobile: -144px;
$sombra-slider: 0px 0px 5px 0px rgba(0, 0, 0, 0.6);
$orange: rgba(219, 124, 35, 1);
// #db7c23;
$blue: #322766;
$bkg-color-box-a: #FAFAFA;
$bkg-color-box-b: #ffffff;
$color-primary:  rgb(253, 65, 56);
/*Cierre variables*/